.hangman-leftleg {
  height: 5rem;
  width: 0.75rem;
  background: #000;
  position: absolute;
  left: 11.875rem;
  top: 14.75rem;
  rotate: -135deg;
}

.hangman-rightleg {
  height: 5rem;
  width: 0.75rem;
  background: #000;
  position: absolute;
  left: 15.225rem;
  top: 14.75rem;
  rotate: 135deg;
}

.hangman-lefthand {
  height: 5rem;
  width: 0.75rem;
  background: #000;
  position: absolute;
  left: 11.875rem;
  top: 7.75rem;
  rotate: -45deg;
}

.hangman-righthand {
  height: 5rem;
  width: 0.75rem;
  background: #000;
  position: absolute;
  left: 15.225rem;
  top: 7.75rem;
  rotate: 45deg;
}

.hangman-body {
  height: 10rem;
  width: 0.75rem;
  background: #000;
  position: absolute;
  left: 13.575rem;
  top: 5.75rem;
}

.hangman-head {
  height: 3.5rem;
  width: 3.5rem;
  border-radius: 50%;
  border: #000 solid 0.75rem;
  background: #fff;
  position: absolute;
  left: 11.5rem;
  top: 2.25rem;
}

.hangman-rope {
  height: 3rem;
  width: 1rem;
  background: #000;
  position: absolute;
  left: 13.5rem;
  top: 0;
}

.hangman-bar {
  height: 1rem;
  width: 10rem;
  background: #000;
  margin-left: 4.5rem;
}

.hangman-column {
  height: 25rem;
  width: 1rem;
  background: #000;
  margin-left: 4.5rem;
}

.hangman-basis {
  height: 1rem;
  width: 10rem;
  background: #000;
  position: absolute;
  bottom: 0;
  left: 0;
}
