:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color-scheme: dark;

  color: #242424;
  background-color: white;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  padding: 0;
}

button {
  color: white;
  background-color: #242424;
  border: 1px transparent solid;
  border-radius: 8px;
  cursor: pointer;
}

button:disabled {
  background-color: #5e5e5e;
  cursor: not-allowed;
}

button:hover {
  background-color: #3b3b3b;
}

button:active {
  background-color: #1e1e1e;
}
